
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro");


html {
    scroll-behavior: smooth;
  }
  
  * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
  background: #fffffff2;
    overflow-x: hidden;
    background-repeat: no-repeat;
    font-family: "Poppins", sans-serif;
  }

  a {
    
    text-decoration: none;
  }
  ul {
    list-style: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
   
    line-height: 1.1;
  }
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.9rem;
  }
  h3 {
    font-size: 1.3rem;
    line-height: 1.25;
  }
  h4 {
    font-size: 1.1rem;
  }
  h5 {
    line-height: 1.4;
  }
  
  img {
    display: block;
    object-fit: cover;
    width: 100%;
  }

.content {
  flex: 1; 
  height: 100%;
  width: 100%;
}

.web-bg {
  position: absolute;
  filter: blur(6px);
  width: 100%;
  height: 100%;
}

.navbar {
  position: relative;
  height: 87px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  padding-left: 1rem;
}

.smj-icon {
  margin-left: 20px;
  height: 135px;
  width: 300px;
}

.i-head {
  color: rgb(115, 39, 39);
}

.security {
  height: 150px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.btns {
  margin-right: 50px;
}

.login-btn {
  width: 90px;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: rgb(248, 167, 167);
  color: black;
  font-size: 17px;
}

.login-btn:hover {
  background-color: rgb(115, 39, 39);
  color: white;
}

.footbar{
  background-color: rgb(115, 39, 39);
  color: white;
  position: relative;
  display: flex;
  justify-content:space-between;
  align-items: center;
 
  flex-wrap: wrap;
  
  padding: 7px;
}

.asss {
  gap: 20px;
}

.f-a {
  text-decoration: none;
  color: white;
}








.container {
  height: 200vh; /* Make sure the container is tall enough to allow scrolling */
  width: 100%;
  position: relative;
}

.moving-div {
  position: absolute;
  top: 0;
  left: 0;
  
  color: white;
  padding: 20px;
  border-radius: 5px;
  transition: transform 0.1s ease-in-out;
}
