
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro");


html {
    scroll-behavior: smooth;
  }
  
  * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
  background: #fffffff2;
    overflow-x: hidden;
    background-repeat: no-repeat;
    font-family: "Poppins", sans-serif;
  }

  a {
    
    text-decoration: none;
  }
  ul {
    list-style: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
   
    line-height: 1.1;
  }
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.9rem;
  }
  h3 {
    font-size: 1.3rem;
    line-height: 1.25;
  }
  h4 {
    font-size: 1.1rem;
  }
  h5 {
    line-height: 1.4;
  }
  
  img {
    display: block;
    object-fit: cover;
    width: 100%;
  }

.content {
  flex: 1; 
  height: 100%;
  width: 100%;
}

.web-bg {
  position: absolute;
  filter: blur(6px);
  width: 100%;
  height: 100%;
}

.navbar {
  position: relative;
  height: 87px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  padding-left: 1rem;
}

.smj-icon {
  margin-left: 20px;
  height: 135px;
  width: 300px;
}

.i-head {
  color: rgb(115, 39, 39);
}

.security {
  height: 150px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.btns {
  margin-right: 50px;
}

.login-btn {
  width: 90px;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: rgb(248, 167, 167);
  color: black;
  font-size: 17px;
}




@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-in-out;
}

.animate-slideIn {
  animation: slideIn 1s ease-in-out;
}


.animate-moveTracks {
  animation: moveTracks 10s linear infinite;
}

.animate-moveTrain {
  animation: moveTrain 15s linear infinite;
}




.asss {
  gap: 20px;
}

.f-a {
  text-decoration: none;
  color: white;
}






.container {
  height: 200vh; /* Make sure the container is tall enough to allow scrolling */
  width: 100%;
  position: relative;
}

.moving-div {
  position: absolute;
  top: 0;
  left: 0;
  
  color: white;
  padding: 20px;
  border-radius: 5px;
  transition: transform 0.1s ease-in-out;
}












.circle{
  position: absolute;
  border-radius: 50%;
  
 
  animation: ripple 15s infinite;
  /* box-shadow: 0px 0px 1px 0px #508fb9; */



 
background: white;
box-shadow:  6px 6px 10px #d7d7d3,
             -6px -6px 10px #ededed;

             box-shadow:  6px 6px 10px #fddf47b7,
             -6px -6px 10px #ededed;
}

.small{
  width: 500px;
  height: 500px;
  left: -250px;
  bottom: -250px;
}

.medium{
  width: 700px;
  height: 700px;
  left: -350px;
  bottom: -350px;
}

.large{
  width: 900px;
  height: 900px;
  left: -450px;
  bottom: -450px;
}

.xlarge{
  width: 800px;
  height: 800px;
  left: -400px;
  bottom: -400px;
}

.xxlarge{
  width: 1000px;
  height: 1000px;
  left: -500px;
  bottom: -500px;
}

.shade1{
  opacity: 0.2;
}
.shade2{
  opacity: 0.5;
}

.shade3{
  opacity: 0.7;
}

.shade4{
  opacity: 0.8;
}

.shade5{
  opacity: 0.9;
}

@keyframes ripple{
  0%{
    transform: scale(1);
  }
  
  50%{
    transform: scale(1.2);
  }
  
  100%{
    transform: scale(1);
  }
}








/*========================== Loader =========================*/
/* HTML: <div class="loader"></div> */
.loader {
  width: 80px;
  aspect-ratio: 1;
  background: 
    radial-gradient(farthest-side at top,#0000 calc(100% - 21px),lightblue calc(100% - 20px) 99%,#0000) bottom/100% 50%,
    radial-gradient(farthest-side,lightblue 94%,#0000 ) left /20px 20px,
    radial-gradient(farthest-side,lightblue 94%,#0000 ) right/20px 20px;
  background-repeat: no-repeat;
  position: relative;
}
.loader::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  inset: auto 0 0;
  margin: auto;
  border-radius: 50%;
  background: orange;
  transform-origin: 50% -20px;
  animation: l14 1s infinite cubic-bezier(0.5,623,0.5,-623);
}
@keyframes l14 { 
 100% {transform: rotate(0.5deg)}
}